{% extends 'BiotechBin/base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    <h1>All Tickers</h1>
    {% for ticker in tickers %}
        <h2>{{ ticker.symbol }}</h2>
        <ul>
        {% for strike in ticker.strike_prices.all %}
            <li>Strike: {{ strike.strike_price }}
                <ul>
                {% for exp in strike.expiration_dates.all %}
                    <li>Exp: {{ exp.expiration_date }}
                        <ul>
                        {% for price in exp.date_prices.all %}
                            <li>{{ price.date_collected }}: High={{ price.high_price }}, Low={{ price.low_price }}, End={{ price.end_price }}</li>
                        {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
                </ul>
            </li>
        {% endfor %}
        </ul>
    {% empty %}
        <p>No tickers available.</p>
    {% endfor %}
{% endblock %}